body {
    margin: 0px;
    overflow: hidden;
}

circle{
    fill: steelblue;
    opacity: 0.5;
}

text{
    font-size: 1.5em;
    font-family: sans-serif;
}

.tick text{
    font-size: 1.5em;
    fill: #635F5D;
}

.tick line{
    stroke: #C0C0BB;
}

.axis-label{
    font-size: 2em;
    fill: #8E8883;
}

.axis-label{
    font-size: 3em;
    fill: #635F5D;
}

title{
    font-size: 4em;
    fill: #635F5D
}